
<div class="container">
    <div class="row-sm-12">
        <div class="col-sm-5">
            <button (click)="AddJour()" class="form-control btn btn-primary " >Ajouter</button>
            <table class="table table-inverse">
                <thead>
                <tr>
                    <th>ordredujour</th>
                    <th>destination</th>
                    <th>coutdujour</th>
                </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let jour of jours">
                        <td>{{jour.Id}}</td>
                        <td>{{jour.Destination.Nom}}</td>
                        <td>{{jour.Cout}}</td>
                        <td><a (click)="details(dest.Id)">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>