
<div class="container">
  <div class="row-sm-8">
    <table class="table table-inverse">
        <thead>
        <tr>
            <th>Nom</th>
            <th style="width:100px;">Nb de jours</th>
            <th style="width:100px;">Prix total</th>
            <th style="width:100px;">Budget</th>
            <th style="width:100px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let voyage of voyages">

            <td>{{voyage.Nom}}</td>
            <td style="text-align: center">{{voyage.NumberOfDays}}</td>
            <td>{{voyage.Cost}} $ CAD</td>
            <td>{{voyage.Budget}} $ CAD</td>
            <td style="text-align: center"><button class="btn btn-primary" (click)="destination(voyage.Id)">itineraire</button></td>
            <td style="text-align: center"><button class="btn btn-primary" (click)="jour(voyage.Id)">horaire</button></td>
        </tr>

        </tbody>
    </table>
  </div>
</div>
