
<div class="modal modal-open" *ngIf="this.createVoyagePopupOn" style="display: block;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Nouveau voyage</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleCreateVoyagePopup(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nom du voyage</label>
                    <input type="text" class="form-control" [(ngModel)]="this.formCreateVoyageName_in" />
                </div>
                <div class="form-group">
                    <label>Budget</label>
                    <input type="number" class="form-control" [(ngModel)]="this.formCreateVoyageBudget_in" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="toggleCreateVoyagePopup(false)" >Annuler</button>
                <button class="btn btn-primary btn-primary" (click)="createVoyage()">Créer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-open" *ngIf="this.editVoyagePopupOn" style="display: block;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Modifier le voyage</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditVoyage(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nom du voyage</label>
                    <input type="text" class="form-control" [(ngModel)]="this.formEditVoyageName_in" />
                </div>
                <div class="form-group">
                    <label>Budget</label>
                    <input type="number" class="form-control" [(ngModel)]="this.formEditVoyageBudget_in" />
                </div>
                <input type="hidden" class="form-control" [(ngModel)]="this.formEditVoyageId_in" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="closeEditVoyage(false)" >Annuler</button>
                <button class="btn btn-primary btn-primary" (click)="editVoyageConfirm()">Valider</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-open" *ngIf="this.usersVoyagePopupOn" style="display: block;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Utilisateurs du voyage</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleUsersVoyagePopup(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p>Liste d'utilisateurs authorisés</p>
                    <ul class="list-group">
                        <li *ngFor="let u of this.voyageCurrentUsers" class="list-group-item">
                            {{u}}
                            <button class="btn btn-danger btn-sm pull-right" style="position: relative; bottom: 4px;" (click)="removeUser(u)"><i class="glyphicon glyphicon-remove"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Authoriser un utilisateur</label>
                    <input type="text" class="form-control" [(ngModel)]="this.formUsersVoyageName_in" />
                </div>
                <div>
                    <ul class="list-group">
                        <li *ngFor="let u of this.voyageSearchUsers" class="list-group-item" style="cursor: pointer" (click)="replaceSearchedUser(u)">
                            {{u}}
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary" (click)="this.searchUsers(this.formUsersVoyageName_in)" >Rechercher</button>
                <button class="btn btn-primary" (click)="this.addUser(this.formUsersVoyageName_in)" >Ajouter</button>
                <input type="hidden" class="form-control" [(ngModel)]="this.formUsersVoyageId_in" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-right" (click)="toggleUsersVoyagePopup(false)" >Annuler</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-open" *ngIf="this.usersDeleteVoyagePopupOn" style="display: block; background: rgba(0,0,0,0.5)" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Confirmation</span>
            </div>
            <div class="modal-body">
                {{formUserDeleteConfirmVoyageBody_in}}
                <input type="hidden" class="form-control" [(ngModel)]="this.formUserDeleteConfirmVoyageId_in" />
                <input type="hidden" class="form-control" [(ngModel)]="this.formUserDeleteConfirmVoyageName_in" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="this.usersDeleteVoyagePopupOn = false">Annuler</button>
                <a class="btn btn-danger btn-ok" (click)="this.confirmUserRemove(this.formUserDeleteConfirmVoyageName_in)">Supprimer</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button (click)="toggleCreateVoyagePopup(true)" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Nouveau voyage</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th style="width:100px;">Nb de jours</th>
                        <th style="width:100px;">Prix total</th>
                        <th style="width:100px;">Budget</th>
                        <th style="width:180px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let voyage of voyages">
                        <td>{{voyage.Nom}}</td>
                        <td style="text-align: center">{{voyage.NumberOfDays}}</td>
                        <td>{{voyage.Cost}} $ CAD</td>
                        <td>{{voyage.Budget}} $ CAD</td>
                        <td style="text-align: center">
                            <div class="btn-group">
                                <button title="Modifier les détails du voyage" class="btn btn-primary" (click)="editVoyage(voyage)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button title="Consulter les destinations du voyage" class="btn btn-primary" (click)="detail(voyage.Id)"><i class="glyphicon glyphicon-align-justify"></i></button>
                                <button title="Consulter l'horaire du voyage" class="btn btn-primary" (click)="horaire(voyage.Id)"><i class="glyphicon glyphicon-calendar"></i></button>
                                <button title="Consulter ou ajouter des utilisateurs" class="btn btn-primary" (click)="openUserManagePopup(voyage.Id)"><i class="glyphicon glyphicon-user"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
          </table>
        </div>
    </div>
</div>
